{% extends "layout.html" %}
{% block body %}
<h2>Home page</h2>
<article>
  <h3>Top players</h3>
    {%for player in top_players %}
    <section>  
      <h4><a href={{ url_for('show_player_details', pseudo=player.pseudo) }}>{{ player.pseudo }}</a></h4>
      {{ player_info(player=player) }}
    </section>
    {% endfor %}
</article>
<article>
  <h3>Last played games</h3>
    <ul>
    {%for game in game_history %}
      <li>
        {{ game_info(game=game) }}
      </li> 
    {% endfor %}    
    </ul>
</article>
{% endblock %}
