{% extends "layout.html" %}
{% block body %}
  <dl>
    <dt>
      Total Kills :
    </dt>
    <dd>
      {{ player.kill_sum }}
    </dd>
     <dt>
       Total Killed :
    </dt>
    <dd>
      {{ player.killed_sum }}
    </dd>
    <dt>
       Total Deaths :
    </dt>
    <dd>
      {{ player.death_sum }}
    </dd>
    <dt>
      Ratio k/k :
    </dt>
    <dd>
      {{ player.ratio_kill_killed }}
    </dd>
    <dt>
       Ratio k/d :
    </dt>
    <dd>
      {{ player.ratio_kill_death }}
    </dd>
    <dt>
        Favorite weapon:
    </dt>
    <dd>
      
    </dd>
  </dl>
{% endblock %}
