{% extends "layout.html" %}
{% block body %}
  <h2> {{ player.pseudo|process_color|safe }} details</h2>
<article>
  <h3>General statistics</h3>
  <dl>
    <dt> Total Kills </dt>
    <dd> {{ player.kill_sum() }} </dd>
    <dt> Total Killed </dt>
    <dd> {{ player.killed_sum() }} </dd>
    <dt> Total Deaths </dt>
    <dd> {{ player.death_sum() }} </dd>
    <dt> Ratio k/k </dt>
    <dd> {{ player.ratio_kill_killed() }} </dd>
    <dt> Ratio k/d </dt>
    <dd> {{ player.ratio_kill_death() }} </dd>
    <dt> Total game played </dt>
    <dd> {{ player.total_game_played }} </dd>
    <dt> Total game won </dt>
    <dd> {{ player.win_number }} </dd>
    <dt> Favorite weapon </dt>
    <dd> {{ player.favorite_weapon.weapon_name }} </dd>
    <dt> Most killed player </dt>
    <dd> {{ player.most_killed_player.pseudo }} </dd>
    <dt> Most killed by player </dt>
    <dd> {{ player.most_killed_by_player.pseudo }} </dd>
  </dl>
</article>
<article>
  <h3>Last kill</h3>
    <ul>
    {% for kill in player.kill_list(5) %}
      <li>
        <a href={{ url_for('show_player_details', pseudo=player.pseudo) }}>{{
          player.pseudo|process_color|safe }}</a>
        killed
        <a href={{ url_for('show_player_details', pseudo=kill.pseudo) }}>{{
          kill.pseudo|process_color|safe }}</a>
        <time> {{ actual_date-kill.time }} </time> ago
      </li>
    {% endfor %}
    </ul>
</article>
<article>
  <h3>Last killed by</h3>
    <ul>
    {% for kill in player.killed_list(5) %}
      <li>
        <a href={{ url_for('show_player_details', pseudo=kill.pseudo) }}>{{
          kill.pseudo|process_color|safe }}</a>
        killed
        <a href={{ url_for('show_player_details', pseudo=player.pseudo) }}>{{
          player.pseudo|process_color|safe }}</a>
        <time> {{ actual_date-kill.time }} </time> ago
      </li>
    {% endfor %}
    </ul>
</article>
<article>
  <h3>{{ player.pseudo|process_color|safe }} weapon use</h3>
  <embed src="{{ url_for('generate_weapon_graph', pseudo=player.pseudo) }}" />
</article>
<article>
  <h3>{{ player.pseudo|process_color|safe }} ratio </h3>
  <embed src="{{ url_for('generate_ratio_graph', pseudo=player.pseudo) }}" />
</article>
{% endblock %}
