{% extends "layout.html" %}
{% block body %}
<h2>Weapons</h2>
  <article class="weapons">
    <embed src = "{{ url_for('generate_all_weapons_graph') }}"/>
  </article>
  <article class="weapons">
    {%for weapon in best_player_weapon %}
    <section>
      <dl>
        <dt>{{ weapon.weapon }}</dt>
        <dd>
          <p>Total kills {{ weapon.total }}</p>
          <p>Best player {{ weapon.pseudo|process_color|safe }} with {{ weapon.kill }} kills</p>
        </dd>
      </dl>
    <section>
    {% endfor %}
  </article>
  {% endblock %}
